extends layout

block content

  - function sanitizeId(s) { return s.replace(/[^_A-Za-z0-9-]/, "-"); }

  div.span2
    div.span2.bs-docs-sidebar
      ul.nav.nav-list(data-spy='affix').bs-docs-sidenav
        li
          a(href='#input')
            i.icon-chevron-right
            | input
        li
          a(href='#output')
            i.icon-chevron-right
            | output
        each content,file in files
          li
            a(href='##{sanitizeId(file)}')
              i.icon-chevron-right
              = " "
              = file

  div#main.span10.run-overview

    div.row-fluid(id='input')
      h3
        a(href='input') input
      table.table.table-bordered.table-striped
        tbody
          each i in input
            tr
              td= i.name
              th
                span.value= i.value
                if i.unit
                  small.unit  (#{i.unit})

    div.row-fluid(id='output')
      h3
        a(href='output') output
      table.table.table-bordered.table-striped
        tbody
          each o in output
            tr
              td= o.name
              th
                case o.presentation
                  when "image"
                    img(src='workdir/#{o.value}', alt='#{o.value}')
                  when "file"
                    a(href='workdir/#{o.value}')= o.value
                  // when "scalar"
                  default
                    span.value= o.value
                    if o.unit
                      small.unit  (#{o.unit})

    each content,file in files
      div.row-fluid(id='#{sanitizeId(file)}')
        h3
          a(href='#{file}')
            = file
        pre= content




block nav

  ul.nav
    li.active
      a(href='overview', title='#{_3X_DESCRIPTOR.fileSystemPath}/#{runId}')
        i.icon.icon-cog
        = runId
    li
      a(href='.')
        i.icon.icon-folder-open
        | Browse Files
    li
      a(href='workdir/')
        i.icon.icon-briefcase
        | workdir/

  ul.nav.pull-right
    li
      a(href='/')
        i.icon.icon-reply
        | Back to Experiment

